@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&display=swap");

/* ********************* */
/* VARIABLES */
/* ********************* */

:root {
  --Background: hsl(225, 100%, 94%);
  --Card-Background: hsl(0, 0%, 100%);
  --Button: hsl(245, 75%, 52%);
  --Plan-Background: hsl(225, 100%, 98%);
  --Text: hsl(224, 23%, 55%);
  --Dark-Blue: hsl(223, 47%, 23%);
}

/* ********************* */
/* RESETS */
/* ********************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  max-inline-size: 100%;
  block-size: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
}

/* ********************* */
/* LAYOUT */
/* ********************* */

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  background: var(--Background);
  padding: 20px;

  background-image: url(/images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.card {
  max-width: 450px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  background: var(--Card-Background);
  border-radius: 20px;
  overflow: hidden;
  /* gap: 20px; */
  text-align: center;
  box-shadow: 0px 10px 15px -3px hsla(0, 0%, 0%, 0.1);
}

.card-main-content {
  padding: 20px;
}

.card-intro-text {
  text-align: center;
  margin-bottom: 20px;
}

.card-intro-text h1 {
  font-size: 20px;
  margin-bottom: 17px;
}

.card-intro-text p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--Text);
}

/* ********************* */
/* PLAN DETAILS */
/* ********************* */

.plan-detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
  padding: 26px;
  border-radius: 14px;
  background: var(--Plan-Background);
}
.plan-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.plan-type {
  font-weight: 700;
}

.plan-price {
  color: var(--Text);
}

.plan-change-link {
  color: var(--Button);
  font-weight: 700;
}

/* ********************* */
/* BUTTON */
/* ********************* */

button {
  width: 100%;
  padding: 15px 32px;
  border-radius: 10px;
  color: var(--Card-Background);
  background: var(--Button);
  margin-bottom: 24px;
  font-weight: 600;
  box-shadow: 0px 10px 15px -3px hsl(245, 75%, 52%, 40%);
}

.cancel-order-link {
  font-weight: 700;
  color: var(--Text);
}

/* ********************* */
/* MEDIA QUERIES */
/* ********************* */

@media (min-width: 400px) {
  body {
    background-image: url(/images/pattern-background-desktop.svg);
  }

  .card-main-content {
    padding: 44px 46px;
  }

  .card-intro-text h1 {
    font-size: 28px;
  }
}
